.tweet {
    border: 1px solid gray;
}

.tweet::after {
    content: '';
    display: block;
    clear: both;
}

.avatar {
    height: 5rem;
    width: 5rem;
    background-color: gold;
    float: left;
    margin-right: 0.5rem;
}


.clear {
    clear: both;
}