html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.box p {
    background-color: gold;
    margin: 0;
    padding: 1rem;
}

.box:nth-child(2) p {
    background-color: dodgerblue;
    /* visibility: hidden; */
    display: none;
}

/* mobile view */
/* @media screen and (min-width: 576px) {
    .box p {
        background-color: firebrick;
    }
} */

/* tablet view */
/* @media screen and (min-width: 768px) {
    .box p {
        background-color: forestgreen;
    }
} */

/* small monitors */
/* @media screen and (min-width: 992px) {
    .box p {
        background-color: hotpink;
    }
} */


/* large devices */
/* @media screen and (min-width: 1200px) {
    .box p {
        background-color:lavender;
    }
}

@media print {  
    .box p {
        background-color:lime;
    }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
    .box p {
        background-color:midnightblue;
    }
}

 */
